body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.square-div {
  width: 13.6px;
  height: 13.6px;
  background: blue;
  margin: 1px;
  float: left;
}

#grid-container {
  background: black;
}

/*.square-div:hover {
  background: rgb(32, 157, 230);
}*/

.grid-button {
  width: 160px;
  height: 50px;
  margin: 10px;
}
